.ce-block__content,
.ce-block {
  width: 100% !important;
}

.cdx-block,
.ce-header,
.inlineToolButton,
.ce-toolbar__plus,
.tc-popover,
.ce-popover__container,
.tc-popover--opened,
.ce-toolbar__settings-btn,
.ce-popover-item__icon,
.ce-popover-item,
.ce-popover-items,
.tc-popover__item-icon,
.ce-popover__search {
  background-color: var(--background) !important;
  color: var(--default-text) !important;
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover,
.cdx-loader,
.cdx-button {
  color: var(--default-text) !important;
  background-color: var(--background) !important;
}

.cdx-button:hover {
  background-color: var(--background) !important;
}
.ce-popover-item__title,
.tc-popover__item-label {
  color: var(--default-text) !important;
}

.codex-editor__redactor {
  padding: 0px !important;
}

.ce-popover,
.ce-popover-item:hover {
  --color-background-item-hover: #212121 !important;
  background-color: var(--background) !important;
  color: var(--default-text-hover) !important;
  border: none !important;
}

.ce-popover-item:hover,
.tc-row--selected:hover,
.tc-column--selected:hover,
.tc-toolbox--column:hover,
.tc-cell--selected {
  color: var(--default-text-hover) !important;
  background-color: #747474 !important;
}

.tc-table {
  border-left: 1px solid var(--default-border);
}

.image-tool__image,
.image-too--filled,
.image-tool__caption {
  margin-bottom: 0px !important;
  padding-bottom: 0px ip !important;
}
